.experienceCard {
    margin: 10px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    background-color: rgba(75, 103, 156, 0.438);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.452);
  }